//<МИКСИНЫ>====================
// ?@import "mixins";
//</МИКСИНЫ>====================

//<ШРИФТЫ>====================

//<Подключаем шрифты>====================
// ! &display=swap&subset=cyrillic-ext
// todo if it isn't cirillic, simply write &display=swap
@import url("https://fonts.googleapis.com/css?family=Lato:300,300italic,regular,italic,700,700italic,900,900italic&display=swap");
//</Подлючаем шрифты>====================

//<Шрифт по умолчанию>====================
$fontFamily: Lato;
//<Шрифт по умолчанию>====================

//</ШРИФТЫ>====================

//<ПЕРЕМЕННЫЕ>====================
$minWidth: 0;
$maxWidth: 0;
$maxWidthContainer: 1140;
$md1: 320;
$md2: 375;
$md3: 425;
$md4: 768;

//<Цвета>====================

//</Цвета>====================

//<ПЕРЕМЕННЫЕ>====================

//<ОБНУЛИРОВАНИЕ>====================

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-family: $fontFamily;
}

//</ОБНУЛИРОВАНИЕ>====================

//<ОСНОВНАЯ СЕТКА>====================
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

._card-container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}
//</ОСНОВНАЯ СЕТКА>====================

//<FOOTER>====================
.header {
    background: #222222;
    position: relative;
    z-index: 55;

    &__container {
        min-height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        min-height: 75px;
        display: flex;
        align-items: center;
    }

    &__left a:last-child {
        padding: 0 0 0 41px;
    }

    &__right {
        min-height: 75px;
        display: flex;
        align-items: center;
    }

    &__right a:nth-child(2) {
        padding: 0 33px;
    }

    &__right-bin {
        position: relative;
    }

    &__right-bin-count {
        position: absolute;
        top: -5px;
        right: -12px;
        width: 19px;
        height: 19px;
        background-color: #ef5b70;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 12px;
        z-index: 50;
    }

    &__nav {
        position: absolute;
        top: 75px;
        right: -100%;
        overflow: auto;
    }

    &__opened {
        right: 0;
    }

    &__nav.active {
        right: 0;
    }

    @media (max-width: 425px) {
        &__right a:not(:first-child) {
            display: none;
        }

        &__right a:first-child {
            padding-right: 0;
        }
    }
}

.nav {
    max-width: 232px;
    background-color: #fff;
    transition: 0.6s;

    &__wrap {
        position: relative;
    }

    &__close {
        display: flex;
        justify-content: flex-end;
        padding: 16px 17px 0 0;
    }

    &__title {
        font-weight: bold;
        font-size: 14px;
        line-height: 121%;
        color: #000000;
        padding: 9px 143px 24px 32px;
    }

    &__heading {
        font-weight: normal;
        font-size: 14px;
        line-height: 121%;
        color: #f16d7f;
        padding: 0 144px 0 33px;
    }

    &__list {
        padding-left: 55px;
    }

    &__list li {
        font-weight: normal;
        font-size: 14px;
        line-height: 121%;
        color: #6f6e6e;
        padding-top: 12px;
    }

    &__list li:last-child {
        padding-bottom: 20px;
    }

    &__list-end {
        margin-bottom: 157px;
    }
}
//</FOOTER>====================

//<MAIN>====================

//<news>====================
.news {
    background-color: #f8f3f4;

    &__container {
        min-height: 148px;
        display: flex;
        align-items: center;
    }

    &__title {
        h1 {
            font-size: 24px;
            line-height: 120%;
            color: #f16d7f;
        }
    }

    @media (max-width: 425px) {
        &__container {
            flex-direction: column;
        }

        &__title {
            margin-top: 50px;
            margin-bottom: 69px;

            h1 {
                text-align: center;
            }
        }
    }
}
//</news>====================

//<order>====================
.order {
    margin: 96px 0 0 0;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__data {
        width: 360px;
    }

    @media (max-width: 1050px) {
        &__data {
            margin: 64px 0 0 0;
        }
    }

    @media (max-width: 1050px) {
        &__container {
            flex-direction: column;
            align-items: center;
        }
    }
}

.cart {
    &__upper {
        width: 652px;
        display: flex;
        box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.21);
    }

    &__lover {
        margin: 40px 0 0 0;
        width: 652px;
        display: flex;
        box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.21);
    }

    @media (max-width: 655px) {
        &__upper {
            width: 358px;
            height: 188px;
        }

        &__lover {
            width: 358px;
            height: 188px;
        }

        &__photo {
            width: 143.86px;
            height: 188px;
        }
    }

    @media (max-width: 1050px) {
        &__lover {
            margin: 40px 0 62px 0;
        }
    }

    @media (max-width: 365px) {
        &__upper {
            width: 310px;
        }
    }

    @media (max-width: 365px) {
        &__lover {
            width: 310px;
        }
    }

    &__description {
        margin-top: 22px;
        margin-bottom: 62px;
        margin-left: 31px;

        @media (max-width: 655px) {
            & {
                margin-top: 13.52px;
                margin-bottom: 37.67px;
                margin-left: 17.14px;
            }
        }
    }

    &__title {
        display: flex;

        h2 {
            width: 190px;
            font-size: 24px;
            line-height: 120%;
            color: #222222;
        }

        img {
            width: 18px;
            height: 18px;
            margin-top: 5px;
            margin-left: 125px;

            cursor: pointer;
        }

        @media (max-width: 655px) {
            & {
                h2 {
                    width: 140px;
                    font-size: 16px;
                    line-height: 118%;
                }

                img {
                    width: 9.88px;
                    height: 11.06px;
                    margin-left: 38px;
                }
            }
        }

        @media (max-width: 365px) {
            & {
                img {
                    margin-left: -7px;
                }
            }
        }

        @media (max-width: 335px) {
            & {
                img {
                    margin-left: -10px;
                }
            }
        }
    }

    &__price {
        margin: 42px 0 0 0;
        font-size: 22px;
        line-height: 118%;
        color: #575757;

        span {
            color: #ef5b70;
        }

        @media (max-width: 655px) {
            & {
                margin: 25.85px 0 0 0;
                font-size: 14px;
                line-height: 121%;
            }
        }
    }

    &__color {
        margin: 6px 0 0 0;
        font-size: 22px;
        line-height: 118%;
        color: #575757;

        span {
            color: #6f6e6e;
        }

        @media (max-width: 655px) {
            & {
                margin: 4px 0 0 0;
                font-size: 14px;
                line-height: 121%;
            }
        }
    }

    &__size {
        margin: 6px 0 0 0;
        font-size: 22px;
        line-height: 118%;
        color: #575757;

        span {
            color: #6f6e6e;
        }

        @media (max-width: 655px) {
            & {
                margin: 4px 0 0 0;
                font-size: 14px;
                line-height: 121%;
            }
        }
    }

    &__quantity {
        margin: 6px 0 0 0;
        height: 25px;
        display: flex;
        align-items: center;

        h3 {
            font-size: 22px;
            line-height: 118%;
            color: #575757;
        }

        input {
            margin-left: 24px;
            text-align: center;
            font-size: 18px;
            line-height: 22px;
            color: #656565;
            padding: 0 5px;
            width: 44px;
            height: 23px;
            border: 1px solid #eaeaea;
        }

        @media (max-width: 655px) {
            & {
                margin: 4px 0 0 0;

                h3 {
                    font-size: 14px;
                    line-height: 121%;
                }

                input {
                    width: 23.71px;
                    height: 14.82px;
                    font-size: 10px;
                    line-height: 120%;
                }
            }
        }
    }

    &__img {
        margin-top: 28px;
    }

    &__function {
        margin: 72px 0 0 0;
    }

    @media (max-width: 655px) {
        &__buy {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.function {
    width: 652px;
    display: flex;
    justify-content: space-between;

    &__btn {
        width: 224px;
        height: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 121%;
        border: 1px solid #a4a4a4;
        background-color: #fff;
        cursor: pointer;
        transition: 0.13s;
    }

    &__btn:hover {
        box-shadow: 4px 1px 8px #575757;
    }

    @media (max-width: 1050px) {
        & {
            margin: 0 auto;
            width: 508px;
        }
    }

    @media (max-width: 510px) {
        & {
            margin: 0 auto;
            width: 359px;
        }

        &__btn {
            width: 175px;
            height: 33px;

            font-weight: 400;
            font-size: 12px;
            line-height: 116%;
        }
    }

    @media (max-width: 358px) {
        & {
            margin: 0 auto;
            width: 300px;
        }

        &__btn {
            width: 130px;
            height: 27px;

            font-size: 10px;
        }
    }
}

.data {
    &__title {
        font-weight: 300;
        font-size: 16px;
        line-height: 118%;
        margin-bottom: 20px;

        @media (max-width: 360px) {
            & {
                margin-top: 43.33px;
            }
        }
    }

    @media (max-width: 360px) {
        & {
            margin: 0 auto;
        }
    }

    input {
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 45px;
        border: 1px solid #a4a4a4;
        font-size: 13px;
        line-height: 123%;
        color: #222222;
        padding: 0 17.24px;

        @media (max-width: 360px) {
            & {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    &__config {
        margin: 20.5px 0;
    }

    &__confirm {
        margin-top: 23px;
        width: 101.41px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;

        border: 1px solid #a4a4a4;
        background-color: #fff;
        font-weight: 300;
        font-size: 11px;
        line-height: 118%;

        cursor: pointer;
        transition: 0.13s;
    }

    &__confirm:hover {
        box-shadow: 4px 1px 8px #575757;
    }

    &__global {
        margin: 57px 0 0 0;
        width: 100%;
        height: 214px;
        background: #f5f3f3;

        h3 {
            padding-top: 39px;
            padding-left: 62%;
            font-size: 13px;
            line-height: 115%;

            span {
                margin-left: 26px;
            }
        }

        h4 {
            padding-top: 12px;
            padding-left: 40.33333333333333%;
            font-weight: 300;
            font-size: 16px;
            line-height: 118%;
            color: #222222;

            span {
                margin-left: 26px;
                font-weight: bold;
                color: #f16d7f;
            }
        }

        @media (max-width: 350px) {
            & {
                h3 {
                    padding-left: 61%;
                }
                h4 {
                    padding-left: 37.2%;
                }
            }
        }
    }

    &__bd {
        width: 100%;
        display: flex;
        justify-content: center;

        margin: 19px 0;
    }

    &__border {
        width: 275px;
        height: 1px;
        background: #e2e2e2;
    }

    @media (max-width: 360px) {
        width: 100%;
    }

    &__global-ok {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 273px;
        min-height: 50px;
        background: #f16d7f;
        font-weight: 300;
        font-size: 16px;
        line-height: 118%;
        color: #ffffff;

        cursor: pointer;
        transition: 0.22s;

        @media (max-width: 360px) {
            margin-top: 39px;
        }
    }

    &__global-ok:hover {
        background: #e05c6e;
    }
}
//</order>====================

//<follow>====================
.follow {
    margin: 128px 0 0 0;
    background-image: url(..//img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 768px) {
        & {
            background-position-x: -200px;
        }
    }

    @media (max-width: 425px) {
        & {
            background-position-x: -400px;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 448px;
    }

    &__review {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 329px;

        img {
            width: 96px;
            height: 96px;
        }

        h5 {
            text-align: center;
            padding: 30px 0 0 0;
        }
    }

    &__subscribe {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-size: 24px;
            line-height: 167.2%;
            font-weight: 700;
            color: #222224;
        }

        h4 {
            font-size: 18px;
            line-height: 167.2%;
            font-weight: 400;
            color: #222224;
            text-align: center;
        }
    }

    &__subscribe-send {
        margin: 32px 0 0 0;
        display: flex;

        input {
            padding: 0 22px;
            max-width: 256px;
            min-height: 49px;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            background: #e1e1e1;

            font-size: 14.5px;
        }
    }

    &__subscribe-submit {
        width: 100px;
        min-height: 49px;
        background: #f16d7f;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;

        transition: 0.23s;

        a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            line-height: 121%;
            color: #ffffff;
        }
    }

    &__subscribe-submit:hover {
        background: #e05c6e;
    }

    @media (max-width: 768px) {
        &__container {
            flex-direction: column;
        }

        &__review {
            margin: 64px 0 0 0;
        }

        &__subscribe {
            margin: 48px 0 140px 0;
        }
    }
}
//</follow>====================

//</MAIN>====================

//<FOOTER>====================
.footer {
    background: #222224;

    &__container {
        min-height: 79px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        p {
            font-size: 16px;
            line-height: 118%;
            color: #fbfbfb;
        }
    }

    &__net {
        ul {
            display: flex;
        }

        li:not(:last-child) {
            padding-right: 7.29px;
        }

        li a:hover .white {
            fill: #f16d7f;
        }

        li a:hover .black {
            fill: #ffffff;
        }
    }

    @media (max-width: 425px) {
        &__container {
            flex-direction: column;
        }

        &__text {
            order: 2;
            margin: 0 0 9px 0;
        }

        &__net {
            order: 1;
            margin: 43px 0 40px 0;
        }
    }
}

.white {
    transition: 0.22s;
}

.black {
    transition: 0.22s;
}
//</FOOTER>====================
