@import url("https://fonts.googleapis.com/css?family=Lato:300,300italic,regular,italic,700,700italic,900,900italic&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: Lato;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._card-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.header {
  background: #222222;
  position: relative;
  z-index: 55;
}

.header__container {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left a:last-child {
  padding: 0 0 0 41px;
}

.header__right {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right a:nth-child(2) {
  padding: 0 33px;
}

.header__right-bin {
  position: relative;
}

.header__right-bin-count {
  position: absolute;
  top: -5px;
  right: -12px;
  width: 19px;
  height: 19px;
  background-color: #ef5b70;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 12px;
  z-index: 50;
}

.header__nav {
  position: absolute;
  top: 75px;
  right: -100%;
  overflow: auto;
}

.header__opened {
  right: 0;
}

.header__nav.active {
  right: 0;
}

@media (max-width: 425px) {
  .header__right a:not(:first-child) {
    display: none;
  }
  .header__right a:first-child {
    padding-right: 0;
  }
}

.nav {
  max-width: 232px;
  background-color: #fff;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.nav__wrap {
  position: relative;
}

.nav__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px 17px 0 0;
}

.nav__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 121%;
  color: #000000;
  padding: 9px 143px 24px 32px;
}

.nav__heading {
  font-weight: normal;
  font-size: 14px;
  line-height: 121%;
  color: #f16d7f;
  padding: 0 144px 0 33px;
}

.nav__list {
  padding-left: 55px;
}

.nav__list li {
  font-weight: normal;
  font-size: 14px;
  line-height: 121%;
  color: #6f6e6e;
  padding-top: 12px;
}

.nav__list li:last-child {
  padding-bottom: 20px;
}

.nav__list-end {
  margin-bottom: 157px;
}

.news {
  background-color: #f8f3f4;
}

.news__container {
  min-height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__title h1 {
  font-size: 24px;
  line-height: 120%;
  color: #f16d7f;
}

.news__bread-crumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news__bread-crumb li:not(:last-child)::after {
  content: " /";
}

.news__bread-crumb li:nth-child(2)::before {
  content: "\00a0";
}

.news__bread-crumb li:nth-child(3)::before {
  content: "\00a0";
}

.news__bread-crumb li a {
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  color: #636363;
}

.news__bread-crumb li:nth-child(3) a {
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  color: #f16d7f;
}

@media (max-width: 425px) {
  .news__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news__title {
    margin: 24px 0 32px 0;
  }
  .news__title h1 {
    text-align: center;
  }
  .news__bread-crumb {
    margin: 0 0 46px 0;
  }
}

.slider {
  width: 100%;
  max-height: 777px;
  background: #f7f7f7;
  position: relative;
}

.slider__img {
  max-width: 100%;
}

.slider__body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slider__btn {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn__left {
  width: 47px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn__right {
  width: 47px;
  height: 47px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn__left:hover .btn__fill {
  fill: #f16d7f;
}

.btn__right:hover .btn__fill {
  fill: #f16d7f;
}
/*# sourceMappingURL=product.css.map */