//<МИКСИНЫ>====================
// ?@import "mixins";
//</МИКСИНЫ>====================

//<ШРИФТЫ>====================

//<Подключаем шрифты>====================
// ! &display=swap&subset=cyrillic-ext
// todo if it isn't cirillic, simply write &display=swap
@import url("https://fonts.googleapis.com/css?family=Lato:300,300italic,regular,italic,700,700italic,900,900italic&display=swap");
//</Подлючаем шрифты>====================

//<Шрифт по умолчанию>====================
$fontFamily: Lato;
//<Шрифт по умолчанию>====================

//</ШРИФТЫ>====================

//<ПЕРЕМЕННЫЕ>====================
$minWidth: 0;
$maxWidth: 0;
$maxWidthContainer: 1140;
$md1: 320;
$md2: 375;
$md3: 425;
$md4: 768;

//<Цвета>====================

//</Цвета>====================

//<ПЕРЕМЕННЫЕ>====================

//<ОБНУЛИРОВАНИЕ>====================

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-family: $fontFamily;
}

//</ОБНУЛИРОВАНИЕ>====================

//<ОСНОВНАЯ СЕТКА>====================
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

._card-container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}
//</ОСНОВНАЯ СЕТКА>====================

//<HEADER>====================
.header {
    background: #222222;
    position: relative;
    z-index: 55;

    &__container {
        min-height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        min-height: 75px;
        display: flex;
        align-items: center;
    }

    &__left a:last-child {
        padding: 0 0 0 41px;
    }

    &__right {
        min-height: 75px;
        display: flex;
        align-items: center;
    }

    &__right a:nth-child(2) {
        padding: 0 33px;
    }

    &__right-bin {
        position: relative;
    }

    &__right-bin-count {
        position: absolute;
        top: -5px;
        right: -12px;
        width: 19px;
        height: 19px;
        background-color: #ef5b70;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 12px;
        z-index: 50;
    }

    &__nav {
        position: absolute;
        top: 75px;
        right: -100%;
        overflow: auto;
    }

    &__opened {
        right: 0;
    }

    &__nav.active {
        right: 0;
    }

    @media (max-width: 425px) {
        &__right a:not(:first-child) {
            display: none;
        }

        &__right a:first-child {
            padding-right: 0;
        }
    }
}

.nav {
    max-width: 232px;
    background-color: #fff;
    transition: 0.6s;

    &__wrap {
        position: relative;
    }

    &__close {
        display: flex;
        justify-content: flex-end;
        padding: 16px 17px 0 0;
    }

    &__title {
        font-weight: bold;
        font-size: 14px;
        line-height: 121%;
        color: #000000;
        padding: 9px 143px 24px 32px;
    }

    &__heading {
        font-weight: normal;
        font-size: 14px;
        line-height: 121%;
        color: #f16d7f;
        padding: 0 144px 0 33px;
    }

    &__list {
        padding-left: 55px;
    }

    &__list li {
        font-weight: normal;
        font-size: 14px;
        line-height: 121%;
        color: #6f6e6e;
        padding-top: 12px;
    }

    &__list li:last-child {
        padding-bottom: 20px;
    }

    &__list-end {
        margin-bottom: 157px;
    }
}
//</HEADER>====================

//<MAIN>====================

//<news>====================
.news {
    background-color: #f8f3f4;

    &__container {
        min-height: 148px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        h1 {
            font-size: 24px;
            line-height: 120%;
            color: #f16d7f;
        }
    }

    &__bread-crumb {
        ul {
            display: flex;
            flex-wrap: wrap;
        }

        li:not(:last-child)::after {
            content: " /";
        }

        li:nth-child(2)::before {
            content: "\00a0";
        }

        li:nth-child(3)::before {
            content: "\00a0";
        }

        li a {
            font-weight: 300;
            font-size: 14px;
            line-height: 120%;
            color: #636363;
        }

        li:nth-child(3) a {
            font-weight: bold;
            font-size: 14px;
            line-height: 120%;
            color: #f16d7f;
        }
    }

    @media (max-width: 425px) {
        &__container {
            flex-direction: column;
            // justify-content: center;
        }

        &__title {
            margin: 24px 0 32px 0;

            h1 {
                text-align: center;
            }
        }

        &__bread-crumb {
            margin: 0 0 46px 0;
        }
    }
}
//</news>====================

//<slider>====================
.slider {
    width: 100%;
    max-height: 777px;
    background: #f7f7f7;
    position: relative;

    &__img {
        max-width: 100%;
    }

    &__body {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__btn {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.btn {
    &__left {
        width: 47px;
        height: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__right {
        width: 47px;
        height: 47px;
        transform: rotate(180deg);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__left:hover &__fill {
        fill: #f16d7f;
    }

    &__right:hover &__fill {
        fill: #f16d7f;
    }
}
//</slider>====================

//<preview>====================

//</preview>====================

//</MAIN>====================
