@import url("https://fonts.googleapis.com/css?family=Lato:300,300italic,regular,italic,700,700italic,900,900italic&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: Lato;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._card-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.header {
  background: #222222;
  position: relative;
  z-index: 55;
}

.header__container {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left a:last-child {
  padding: 0 0 0 41px;
}

.header__right {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right a:nth-child(2) {
  padding: 0 33px;
}

.header__right-bin {
  position: relative;
}

.header__right-bin-count {
  position: absolute;
  top: -5px;
  right: -12px;
  width: 19px;
  height: 19px;
  background-color: #ef5b70;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 12px;
  z-index: 50;
}

.header__nav {
  position: absolute;
  top: 75px;
  right: -100%;
  overflow: auto;
}

.header__opened {
  right: 0;
}

.header__nav.active {
  right: 0;
}

@media (max-width: 425px) {
  .header__right a:not(:first-child) {
    display: none;
  }
  .header__right a:first-child {
    padding-right: 0;
  }
}

.nav {
  max-width: 232px;
  background-color: #fff;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.nav__wrap {
  position: relative;
}

.nav__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px 17px 0 0;
}

.nav__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 121%;
  color: #000000;
  padding: 9px 143px 24px 32px;
}

.nav__heading {
  font-weight: normal;
  font-size: 14px;
  line-height: 121%;
  color: #f16d7f;
  padding: 0 144px 0 33px;
}

.nav__list {
  padding-left: 55px;
}

.nav__list li {
  font-weight: normal;
  font-size: 14px;
  line-height: 121%;
  color: #6f6e6e;
  padding-top: 12px;
}

.nav__list li:last-child {
  padding-bottom: 20px;
}

.nav__list-end {
  margin-bottom: 157px;
}

.news {
  background-color: #f8f3f4;
}

.news__container {
  min-height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__title h1 {
  font-size: 24px;
  line-height: 120%;
  color: #f16d7f;
}

@media (max-width: 425px) {
  .news__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news__title {
    margin-top: 50px;
    margin-bottom: 69px;
  }
  .news__title h1 {
    text-align: center;
  }
}

.reg {
  margin: 64px 0 0 0;
}

.reg__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reg__form {
  max-width: 360px;
}

.reg__adv {
  margin-left: 22px;
}

@media (max-width: 630px) {
  .reg__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 630px) {
  .reg__adv {
    max-width: 360px;
  }
}

.form__title {
  margin-bottom: 20.2px;
  font-weight: 300;
  font-size: 16px;
  line-height: 118%;
  color: #222222;
}

.form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__info input {
  padding: 0 17px;
  width: 100%;
  height: 45px;
  font-weight: 300;
  font-size: 13px;
  line-height: 123%;
  border: 1px solid #a4a4a4;
}

.form__info input::-webkit-input-placeholder {
  color: #b1b1b1;
}

.form__info input:-ms-input-placeholder {
  color: #b1b1b1;
}

.form__info input::-ms-input-placeholder {
  color: #b1b1b1;
}

.form__info input::placeholder {
  color: #b1b1b1;
}

.form__info input:first-child {
  margin-bottom: 21px;
}

.form__gender {
  margin: 31.5px 0 33px 0;
}

.form__gender label {
  padding-right: 20px;
  font-weight: 300;
  font-size: 13px;
  line-height: 123%;
}

.form__gender label input:first-child {
  margin-right: 10px;
}

.form p {
  margin: 15.5px 0 39px 0;
  font-weight: 300;
  font-size: 13px;
  line-height: 123%;
  color: #b1b1b1;
}

.form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px;
  width: 167px;
  height: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 121%;
  color: #ffffff;
  background: #f16d7f;
  border: 2px solid #f16d7f;
  cursor: pointer;
  -webkit-transition: 0.32s;
  transition: 0.32s;
}

.form button svg > path {
  -webkit-transition: 0.32s;
  transition: 0.32s;
}

.form button:hover {
  background-color: #fff;
  color: #f16d7f;
}

.form button:hover .form__img {
  fill: #f16d7f;
}

@media (max-width: 510px) {
  .form button {
    margin: 0 auto;
  }
}

.adv h2 {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: #000000;
}

.adv p {
  margin: 22px 0;
  max-width: 558px;
  font-weight: 300;
  font-size: 16px;
  line-height: 118%;
  color: #000000;
}

.adv__list li {
  font-weight: 300;
  font-size: 22px;
  line-height: 115%;
  color: #000000;
}

.adv__list li::before {
  content: url(../img/cheked.svg);
  padding-right: 23px;
}

.adv__list li:not(:last-child) {
  margin-bottom: 16.6px;
}

@media (max-width: 790px) {
  .adv__list li {
    font-size: 16px;
    line-height: 118%;
  }
}

@media (max-width: 768px) {
  .adv h2 {
    font-size: 16px;
    line-height: 118%;
  }
}

@media (max-width: 630px) {
  .adv h2 {
    margin-top: 40px;
  }
}

@media (max-width: 425px) {
  .adv__list li {
    font-size: 14px;
  }
}

.follow {
  margin: 128px 0 0 0;
  background-image: url(..//img/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .follow {
    background-position-x: -200px;
  }
}

@media (max-width: 425px) {
  .follow {
    background-position-x: -400px;
  }
}

.follow__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 448px;
}

.follow__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 329px;
}

.follow__review img {
  width: 96px;
  height: 96px;
}

.follow__review h5 {
  text-align: center;
  padding: 30px 0 0 0;
}

.follow__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.follow__subscribe h3 {
  font-size: 24px;
  line-height: 167.2%;
  font-weight: 700;
  color: #222224;
}

.follow__subscribe h4 {
  font-size: 18px;
  line-height: 167.2%;
  font-weight: 400;
  color: #222224;
  text-align: center;
}

.follow__subscribe-send {
  margin: 32px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.follow__subscribe-send input {
  padding: 0 22px;
  max-width: 256px;
  min-height: 49px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: #e1e1e1;
  font-size: 14.5px;
}

.follow__subscribe-submit {
  width: 100px;
  min-height: 49px;
  background: #f16d7f;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  -webkit-transition: 0.23s;
  transition: 0.23s;
}

.follow__subscribe-submit a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 121%;
  color: #ffffff;
}

.follow__subscribe-submit:hover {
  background: #e05c6e;
}

@media (max-width: 768px) {
  .follow__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .follow__review {
    margin: 64px 0 0 0;
  }
  .follow__subscribe {
    margin: 48px 0 140px 0;
  }
}

.footer {
  background: #222224;
}

.footer__container {
  min-height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text p {
  font-size: 16px;
  line-height: 118%;
  color: #fbfbfb;
}

.footer__net ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__net li:not(:last-child) {
  padding-right: 7.29px;
}

.footer__net li a:hover .white {
  fill: #f16d7f;
}

.footer__net li a:hover .black {
  fill: #ffffff;
}

@media (max-width: 425px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 0 9px 0;
  }
  .footer__net {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 43px 0 40px 0;
  }
}

.white {
  -webkit-transition: 0.22s;
  transition: 0.22s;
}

.black {
  -webkit-transition: 0.22s;
  transition: 0.22s;
}
/*# sourceMappingURL=reg.css.map */